.cabecalho{
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.23em;
}

.cabecalho__menu{
    background-color: #272B3A87;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cabecalho__item-menu{
    display: inline-block;
}

.cabecalho__item-menu a{
    padding: 1.86em 1.42em;
    display: inline-block;
}

.cabecalho__logo{
    padding: 1.5em 0;
    width: 14.5em;
}

@media (min-width: 640px){
    .cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .cabecalho__menu{
        background-color: transparent;
    }
    
    .cabecalho__logo{
        padding: 3em 0;
        margin-left: 15%; /*espaçamento para ficar parecido com o que está no enunciado do exercício*/
    }
}

@media (min-width: 770px){
    .cabecalho__item--matricular{
        margin-left: 1.42em;
        background-color: #e93d50;
        border-radius: 6px;
    }

    .cabecalho__item--matricular a{
        padding: 1.8em 3.5em;
    }
}